# Version control
.git
.github

# Docker
Dockerfile

# Development
.idea
.examples
.dockerignore

# Web assets 
web/app

# Testing
testdata
test/

# Documentation
*.md
docs/

# Build artifacts
*.db

# Make
Makefile