# IDE
*.iml
.idea
.vscode

# OS
.DS_Store

# Go
/vendor

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
bootstrap/terraform.tfvars
!example.tfvars
infra/modules/**/.terraform.lock.hcl
infra/modules/**/.terraform

# Secrets
*.pem
*.keyaws/
aws/
awscliv2.zip
actionlint
